// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminlte.css";
@import "~admin-lte/plugins/datatables/dataTables.bootstrap4.css";
