// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "~admin-lte/dist/css/adminlte.css";
/*@import "~datatables.net-dt/css/jquery.dataTables.css";*/
@import "~datatables.net-bs4/css/dataTables.bootstrap4.css";
